__pycache__/
# *.db (Removed to allow pushing database as requested)
# *.csv (Removed as well to provide full data set)
.gemini/
.env
venv/
.vscode/
brain/
implementation_plan.md
task.md
walkthrough.md
